@media screen and (min-width: 600px) {
  body {
    width: 100%;
    margin: 0 auto;
    border: 3rem black solid;
  }
  
  nav {
		display: flex;
		flex-direction: row;
		padding: 0;
	}

	nav li {
		display: block;
	}

	nav ul {
		display: flex;
		flex: 1 1 100%;
	}

  .hero img {
      margin: 0 auto;
      align-content: center;
  }

  .action {
    top: 35%;
    left: 25%;
    width: 15rem;

  }

  .container {
    display: flex;
    flex-direction: row-reverse;
    /* width: 90%; */
    gap: 1rem;
  }


  .upgrades,
  .reviews {
    flex: 1;
    padding: 2rem;
  }

  .reviews { 
    padding-top: 1.5rem;
  }

  .upgrades img {
    max-width: 100%;
  }
}


