@media screen and (min-width: 600px) {
    nav {
		display: flex;
		flex-direction: row;
		padding: 0;
		max-width: 100%;
	}

	nav li {
		display: block;
	}

	nav ul {
		display: flex;
		flex: 1 1 100%;
	}

  .hero img {
      margin: 0 auto;
      align-content: center;
  }

  .container {
    display: flex;
    flex-direction: row-reverse;
  }
  
  .upgrades,
  .reviews {
    flex: 1
  }
}
